/* matches all cols in row to height of highest col */
/* only on sm screen and higher */
@media only screen and (min-width : 768px) {
	.row {
		display: -webkit-box;
	  	display: -webkit-flex;
	 	display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
	}

	.row > [class*='col-'] {
	  	display: flex;
	  	flex-direction: column;
	}
}

/* container for section titles */
.sec-header {
	display: flex;
	justify-content: center;
	height: auto;
}

.sec-pic {
    min-width: 200px;
    max-height: 400px;
    max-width: 400px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.pic-head {
	background-image: url("https://avatars.githubusercontent.com/u/11779240?");
	height: 0;
	margin: 5px 5px 5px 5px;
	width: 100%;
	padding-bottom: 100%;
	border-radius: 50%;
	background-size: cover;
}

/* big white areas */
.section { 
	background-color: #f6ffff;
	min-height: 248px;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	box-shadow: 0 0 10px grey;
	padding: 20px 20px 20px 20px;
}

#firstwords {
	font-size: 3em;
}

.paragraph {
	font-size: 1.5em;
	width: 90%;
	/*margin-left: 5%;*/
}

.icons {
  font-size: 3em;
}

.icons a:hover {
  text-decoration: none;
}

.textblock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

body {
	padding-top: 49px;
	background: #08f9cb; /* For browsers that do not support gradients */
    background: linear-gradient(#08f9cb, #0bbaf7); /* Standard syntax */
    color: #414042;
}

.sec-title {
	font-size: 5em;
	color: white;
	align-self: center;
	text-shadow: 0 0 8px #222222;
	flex-direction: column;
	display: flex;
	height: auto;
    line-height: 60px;
}

@media screen and (min-width: 768px) {
    .sec-title {
        transform: rotate(270deg);
    }
}

.navbar {
	background-color: #414042;
	min-height: 38px;
}

.navbar-header {
	background-color: #414042;
	min-height: 38px;
    height: 38px;
}

.nav-cont {
    height: 38px;
}

.navbar-default {
	border: none;
}

.nav>li>a {
	padding-top: 9px;
	padding-bottom: 9px;
}



.navbar-default .navbar-nav>li>a {
		color: #f1f2f2;
		text-transform: uppercase;
		font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
		color: #f1f2f2;
}

.navbar-nav>li:hover {
		background-color: #58595b;
}

.navbar-default .navbar-collapse {
    background-color: #414042;
    border-color: #58595b;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle {
    border-color: #414042;
    background-color: #414042;
    padding: 5px 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #58595b;
}

.glyphicon-menu-hamburger {
    color: #f1f2f2;
}

.portfolio-cont {	
	min-height: 100px;
    height: 400px;
    padding: 0;
}

.portfolio-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    display: block;
    padding: 5px;
    margin: 0 auto;
}

.nested-row {
	margin-right: 0;
	margin-left: 0;
}